<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="/" style="display: flex; align-items: center; text-decoration: none; color: inherit;">
			<img src="../images/logo.png" alt=" " style="height: 58px; margin-right: -9px;">
			<span style="font-weight: bold; font-size: 1.2em; color: rgb(53, 146, 146);">AI-DS</span>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-link" href="/listings">Registered Entities</a>
				<a class="nav-link" href="/listings/new">New Registration </a>
			</div>
			<div class="navbar-nav ms-auto">
				<% if (!currentUser) { %>
					<strong>
						<a class="nav-link" href="/signup">Signup</a>
					</strong>
					<strong>
						<a class="nav-link" href="/login">Login</a>
					</strong>
				<% } %>
				<% if (currentUser) { %>
					<a class="nav-link" href="#"><strong><%= currentUser.username %></strong> |</a>
					<a class="nav-link" href="/logout">Logout</a>
					<!-- <a class="nav-link" href="/chatwithus">Connect Live!</a> -->
				<% } %>
			</div>
		</div>
	</div>
</nav>

</div>

